body{
    color: white;

background: rgb(18,18,18);
background: -moz-linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(66,139,202,0.7976284524668817) 100%);
background: -webkit-linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(66,139,202,0.7976284524668817) 100%);
background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(66,139,202,0.7976284524668817) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#428bca",GradientType=1);

}

.violet{
    background-color: #bb86fc;
}
.darkblue{
    background-color: #3700b3;
}
.lightgreensc{
    background-color: #03dac6;
}

.rounded-pictures{
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.card{
    background-color: #303030;
}



.vertical-line{
    background-color: #303030;
    border-right: 3px solid #03dac6;
    height: 200px;
    padding-left: 9px;
    margin-top: 10px;
}

.circle{
    border: 3px solid #03dac6;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}



.no-border{
    border-style: none;
}

.shadow{
    box-shadow: 0 8px 6px -6px black;
}

.divider-left{
    border-left: 1px solid gray;
}


.divider-right{
    border-right: 1px solid gray;
}

h4{
    padding-bottom: 20px;
}

p .heading-main{
    font-family: 'Open Sans', sans-serif;
}

