html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: black;
}

.violet{
    background-color: #bb86fc;
}
.darkblue{
    background-color: #3700b3;
}
.lightgreensc{
    background-color: #03dac6;
}

.rounded-pictures{
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.card{
    background-color: #fff;
}



.vertical-line{
    border-right: 3px solid #6599FF;
    height: 500px;
    padding-left: 9px;
    margin-top: 10px;
}

.circle{
    border: 3px solid #6599FF;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}



.no-border{
    border-style: none;
}

.yes-border{
    border: 1px solid black;
}

.shadow{
    box-shadow: 0 8px 6px -6px black;
}

.divider-left{
    border-left: 1px solid gray;
}


.divider-right{
    border-right: 1px solid gray;
}

h4{
    padding-bottom: 10px;
    padding-top: 10px;
}


.h{
font-family: 'PressStart2PRegular';
font-weight: normal;
font-style: normal;
}




.indent{
    text-indent: 50px;
}

.code-block{
    border-top: 4px solid #ff9900 ;
    border-left: 4px solid #ffde00 ;
    border-bottom: 4px solid #097054;
    border-right: 4px solid #6599FF ;
    margin: 4px;
}

code{
    color: #6599FF;
}

.code-red{
    color: #c70039;
}

.code-darkred{
    color: #900c3f;
}

.code-purple{
    color: #581845;
}

.code-green{
    color: #097054;
}


