
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #FF9900;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /*.sidenav a {font-size: 18px;} */
}

#static-nav-top{
  z-index: 3;
  width: 0; 
  height: 0; 
  cursor:pointer; 
  position:fixed; 
  color:#000; 
}


#static-nav-bot{
  position:fixed;
  border: 1px solid green;
  height:0;
  width:0;
  bottom: 0;
  z-index: 2;
  top: 95%;
  left: 95%;
}
